*{
    box-sizing: border-box;
}

.input-group{
    width: 350px;
    margin-left: 550px;
}

#recipe-det-head{
    color:red;
    border: solid black; 
    background-color: aquamarine; 
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-style:hidden;
    margin-left:500px; 
    margin-right:500px;
}
.nav-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 2px solid black;
    justify-content: space-around;
    background-color: rgb(168, 242, 245);
    height: 3em;
    font-size: 20px;
}

.section{
   display: none;
}

.form-floating{
    width: 600px;
    height: 20px;
    margin-left: 440px;
}

.nav-elements a:hover {
    color: rgb(12, 10, 10);
    text-decoration: dotted;
    text-transform: uppercase;
}
hr{
    border: 3px dashed rgb(176, 61, 16);
}
#main-items{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    background-color: rgb(104, 156, 101);
    border: solid;
}

#main-items li:hover{
    text-transform: uppercase;
    color: rgb(186, 5, 5);
    font-weight:700;
}
#main-items ot:hover{
       font-size: larger;
}


#ima-2{
    
    opacity: 0.6;
    position: absolute;
    z-index: -1;
}

#fig{
   display: flex;
   align-items: center;
   justify-content: center;
}

footer{
    background-color: aquamarine;
    border: 2px solid red;
    margin: 0%;
}

#reci-head{
    background-color: rgb(168, 230, 248);
    border: solid;
    margin: 0;
}

#list-items{
   /* border: 3px dashed purple ; */
   margin: 0%;
}
#item-heads{
    background-color: crimson;
}

h1{
    text-align: center;
}
table,th,td{
    border: 1px solid black;
}

#he-1{
    background-color: aquamarine;
}

#he-2{
    background-color: rgb(245, 142, 104);
}
#he-3{
    background-color: rgb(183, 208, 209);
}

img{
    border: 3px solid black;
}

h1{
    text-align: center;
   
}
footer{
    background-color: aquamarine;
    border: solid;
    padding: 5px;
}

.form-select{
    background-color: rgb(157, 246, 246);
    border: solid coral;
}